@font-face {
    font-family: "light italic";
    src: url("https://fontsforyou.com/fonts/l/light italic.ttf");
}

* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header,
.title,
.footer {
    background-color: #1f2937;
    color: #f9faf8;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 130px 200px;
}

.about-website {
    max-width: 460px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.img {
    display: inline-block;
    max-width: 500px;
    background-color: #e5e7eb71;
    color: #f9faf8;
    padding: 110px 130px;
}

a,
.header-text {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid transparent;
    padding: 5px 30px;
    border-radius: 8px;
}

.btn-top {
    margin: 20px 0;
    font-size: 18px;
    color: #f9faf8;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding: 50px 0;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 200px;
    padding-bottom: 100px;
    gap: 60px;
}

.square {
    display: inline-block;
    border: 3px solid #3882f6;
    border-radius: 8px;
    height: 150px;
    width: 150px;
}

.box {
    max-width: 150px;
    text-align: center;
}
.box p {
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    align-content: center;
    justify-content: center;
}

.quote-section {
    max-width: 740px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 100px 0;
}

.author {
    color: #1f2937;
    font-weight: bold;
    align-self: flex-end;
    padding-right: 40px;
    padding-top: 10px;
}

.citation {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    /* шрифт не тот */
    color: #1f2937;
}

.bgc-white {
    background-color: #f9faf8;
    padding: 100px 400px;
}

.sign-up {
    background-color: #3882f6;
    border-radius: 6px;
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 170px;
}

h3 {
    color: #f9faf8;
    font-size: 24px;
}

.desc-form p {
    color: #e5e7eb;
    font-size: 18px;
}

.sign-up button {
    border-color: #f9faf8;
    border-radius: 8px;
    font-size: 18px;
    color: #f9faf8;
}
/* объединить стили кнопок */

.footer p {
    text-align: center;
}

.footer {
    padding: 50px 0;
}

.sign-up,
.quote,
.content,
.header {
    flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
}
